@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'bariol';
  src: url('/font/bariol_bold-webfont.ttf') format('truetype');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.content-wrapper {
  margin-top: -130px;
  z-index: 4;
  position: relative;
}
.content {
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .content-wrapper {
    margin-top: -50px;
  }
}

@media (orientation: portrait) {
  .portrait {
    justify-content: center !important;
  }
  .portrait > video {
    width: 40% !important;
  }
}
